body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.modelViewer {
    width: 100vw;
    height: 100vh;
    position: relative;

    canvas {
        opacity: 0;
        transition: opacity 2s ease-in;
    }
    
    &.visible {
        canvas {
            opacity: 1;
        }
    }
}

.customizer {
    position: absolute;
    left: 0;
    bottom: 0;

    .actions {
        div {
            &.hidden {
                display: none;
            }
            
            &.active {
                display: flex;
                cursor: pointer;

                &.binColors, &.lidColors {

                    div {
                        width: 20px;
                        height: 20px;
                        margin: 15px 15px 15px 0;
                        border-radius: 10px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        box-sizing: border-box;

                        &.stroke {
                            border: 1px #B8B8B8 solid;
                        }

                        &.active {

                            &.lowContrast {

                            }
                        }
                    }
                }

                &.binWraps, &.lidWraps {
                    div {

                    }
                }
            }
        }
    }

    .label {
        p {

        }

        h3 {

        }
    }

    .menuStateSelector {

        div {

        }

        .binColors {

            &.active {

            }
        }

        .lidColors  {

            &.active {

            }
        }

        .lidWraps {

            &.active {

            }
        }

        .options {

            &.active {

            }
        }
    }
}